<section class="characteristics">
  <div class="img">
    <table class="img">
      <tr>
        <td>
          <%= link_to image_tag('gift.png'), 'http://en.wikipedia.org/wiki/Adoption' %>
        </td>
      </tr>
    </table>
  </div>
  <header>
    <%= t 'frontpage.presentation.modular.header' %>
  </header>
  <p>
    <%= raw t('frontpage.presentation.modular.p') %>
  </p>
</section>
<section class="characteristics">
  <div class="img">
    <table>
      <tr>
        <td>
          <%= link_to image_tag('scattered_photo.jpg'), 'http://en.wikipedia.org/wiki/Foster_care' %>
        </td>
      </tr>
    </table>
  </div>
  <header>
    <%= t 'frontpage.presentation.flexible.header' %>
  </header>
  <p>
    <%= raw t('frontpage.presentation.flexible.p') %>
  </p>
</section>
<section class="characteristics">
  <div class="img">
    <table class="img">
      <tr>
        <td>
          <%= link_to image_tag('puzzle.png'), 'http://en.wikipedia.org/wiki/Orphan' %>
        </td>
      </tr>
    </table>
  </div>
  <header>
    <%= t 'frontpage.presentation.community.header' %>
  </header>
  <p>
    <%= raw t('frontpage.presentation.community.p') %>
  </p>
</section>
